---
export const prerender = true;
const now = new Date();
const day = now.getDate();
const month = now.getMonth() + 1
const year = now.getFullYear()
let stringDay = day.toString()
let stringMonth = month.toString()
if (stringDay.length == 1) {
    stringDay = '0' + stringDay
}
if (stringMonth.length == 1) {
    stringMonth = '0' + stringMonth
}
---
<div class="flex flex-row justify-center gap-4 items-center relative p-4 lg:p-6">
    <ul class="lg:absolute flex flex-row gap-4">
        <li>
            <a href="https://t.me/beruseruko" target="_blank">
                <img src="/tg-icon-2.png" alt="" class="hover:bg-neutral-500 rounded-full transition-colors">
            </a>
        </li>
        <li>
            <a href="https://github.com/GitHubFoxy/Portfolio" target="_blank">
                <img src="/github-icon.png" alt="" class="hover:bg-neutral-500 rounded-full transition-colors">
            </a>
        </li>
        <li>
            <a href="https://vk.com/beruseruku" target="_blank">
                <img src="/vk-icon.png" alt="" class="hover:bg-neutral-500 rounded-full transition-colors">
            </a>
        </li>

    </ul>
    <div id='date' class="hidden ml-auto lg:block"> {stringDay}.{stringMonth}.{year}</div>
</div>
