<h1>Whats going to display here:</h1>
<p>
    <ul>
        <li>
            Active state for pages 
        </li>
        <li>
            1. Dark/Light theme switcher.
        </li>
        <li>
            2. Blog page: CRUD for/from API
        </li>
        <li>
            3. Node.js or/and bun api endpoint/backend
        </li>
        <li>
            4. Skeleton loading state
        </li>
        <li>
            5. Add Animations (between pages/links; for elements (framermotion, etc.))
        </li>
        <li>
            6. i18n language change
        </li>
        <li>
            7. fileupload system for user
        </li>
        <li>
            8. lazy loading for pictures
        </li>
        <li>
            9. live data streaming (chat like)
        </li>
        <li>
            10. Search feature
        </li>
        <li>
            Performance check, bundle size, speed, lighthouse stats, SEO stats.
        </li>
        <li>
            Svelte - React - htmx islands
        </li>
        <li>
            infinite scrolling feature
        </li>
    </ul>
</p>