<div id="accordion" class="bg-neutral-600 cursor-pointer px-4 py-2 rounded-[12px] flex justify-between transition-colors hover:bg-neutral-500">
    <h1 class="">Todo list</h1>
    <p class="">+</p>
</div>
<p>
    <ul id='content' class="hidden px-4 py-2 mt-2 bg-neutral-400 rounded-[12px]">
        <li>
            glide effect on click
        </li>
        <li>
            Active state for pages 
        </li>
        <li>
            1. Dark/Light theme switcher. + 
        </li>
        <li>
            2. Blog page: CRUD for/from API
        </li>
        <li>
            3. Node.js or/and bun api endpoint/backend
        </li>
        <li>
            4. Skeleton loading state
        </li>
        <li>
            5. Add Animations (between pages/links; for elements (framermotion, etc.))
        </li>
        <li>
            6. i18n language change
        </li>
        <li>
            7. fileupload system for user
        </li>
        <li>
            8. lazy loading for pictures
        </li>
        <li>
            9. live data streaming (chat like)
        </li>
        <li>
            10. Search feature
        </li>
        <li>
            Performance check, bundle size, speed, lighthouse stats, SEO stats.
        </li>
        <li>
            Svelte - React - htmx islands
        </li>
        <li>
            infinite scrolling feature
        </li>
    </ul>
</p>
<script>
    const accordion = document.querySelector('#accordion')
    const content = document.querySelector('#content')
    if (accordion) {
        accordion.addEventListener("click", toggleShow)
    function toggleShow() {
        if (content) {
        content.classList.toggle('hidden')
        }
}
}
</script>